[Unit]
Description= Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.{{env}}.project.online
Environment=CATALOGUE_HOST=catalogue.{{env}}.project.online
ExecStart=/bin/node /app/server.js
SyslogIdentifier=Cart

[Install]
WantedBy=multi.user.target